*.iml
.gradle
*.aar
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/libs
.externalNativeBuild
.cxx
.project
.idea
/honvideo/maven
app/debug
app/release
